# =========================
# Node / Frontend
# =========================
node_modules/
dist/
.vite/
*.local

# =========================
# Python / Backend
# =========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS
# =========================
.DS_Store

# =========================
# IDE
# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ IDEA
# =========================
.idea/